section.about-section {
  background-color: #0d1116;                 
  background-image: url("../images/bg-dark.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  padding: 5% 10%;
  min-height: auto;

  display: flex;
  flex-direction: column;
  text-align: left;

  svg { color: white; }
}

.light-mode section.about-section {
  background-color: #f8f9fa;
  background-image: url("../images/bg-light.png"); 
}

section.about-section .about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

section.about-section .about-grid .about-item {
  align-items: center;
  text-align: left;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 1rem;
    line-height: 1.7;
    margin: 0;
  }
}

.about-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  section.about-section {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
  }
  section.about-section .about-grid { display: initial; }
  section.about-section .about-grid .about-item { padding-bottom: 5%; }
}
